:host {
  // Login Page Variables
  --login-bg-gradient: linear-gradient(
    to bottom,
    var(--tgm-sys-color-background) 0%,
    var(--tgm-sys-color-background-secondary) 50%,
    transparent 100%
  );
  --login-bg-color: color-mix(
    in oklab,
    var(--tgm-sys-color-background) 80%,
    transparent
  );
  --login-width: var(--tgm-sys-percentage-100);
  --login-height: var(--tgm-sys-height-viewport);
  --login-padding-bottom: var(--tgm-sys-padding-32);
  --login-padding-top: var(--tgm-sys-padding-64);
  --login-padding-inline: var(--tgm-sys-padding-16);

  // Container Variables
  --login-container-z-index: var(--tgm-sys-z-dropdown);
  --login-container-max-width: var(--tgm-sys-rem-28);
  --login-container-width: var(--tgm-sys-percentage-100);

  // Terms Variables
  --login-terms-margin-top: var(--tgm-sys-margin-24);
  --login-terms-font-size: var(--tgm-sys-font-size-12);
  --login-terms-line-height: calc(1rem / 0.75);
  --login-terms-color: var(--tgm-sys-color-text-secondary);
}

.login {
  background-image: var(--login-bg-gradient);
  background-color: var(--login-bg-color);
  width: var(--login-width);
  height: var(--login-height);
  box-sizing: border-box;
  padding-bottom: var(--login-padding-bottom);
  padding-top: var(--login-padding-top);
  padding-inline: var(--login-padding-inline);
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;

  &__container {
    z-index: var(--login-container-z-index);
    position: relative;
    max-width: var(--login-container-max-width);
    width: var(--login-container-width);
  }

  &__terms {
    margin-top: var(--login-terms-margin-top);
    font-size: var(--login-terms-font-size);
    line-height: var(--login-terms-line-height);
    text-align: center;
    color: var(--login-terms-color);
  }
}
