@use "sass:map";
@use "sass:list";

// Color Palette
$colors: (
  "tgm-sys-color-white": #FFFFFF,
  "tgm-sys-color-black": #000000,
  "tgm-sys-color-primary": #F3DE8A,
  "tgm-sys-color-primary-light": #f3de8a32,
  "tgm-sys-color-secondary": #272838,
  "tgm-sys-color-accent": #FF5733,
  "tgm-sys-color-background": #F9F8F8,
  "tgm-sys-color-success": #22c55e,
  "tgm-sys-color-warning": #fb923c,
  "tgm-sys-color-danger": #ef4444
);
// Font Families
$font-families: (
  "tgm-sys-font-family-primary": "Poppins, sans-serif",
  "tgm-sys-font-family-secondary": "Montserrat, sans-serif"
);
// Font Sizes
$font-sizes: (
  "tgm-sys-font-size-12": 12px,
  "tgm-sys-font-size-14": 14px,
  "tgm-sys-font-size-16": 16px,
  "tgm-sys-font-size-20": 20px,
  "tgm-sys-font-size-24": 24px
);
// Font Weights
$font-weights: (
  "tgm-sys-font-weight-300": 300,
  "tgm-sys-font-weight-400": 400,
  "tgm-sys-font-weight-500": 500,
  "tgm-sys-font-weight-700": 700,
  "tgm-sys-font-weight-800": 800,
  "tgm-sys-font-weight-900": 900
);
// Spacing
$spacing: (
  "tgm-sys-spacing-8": 8px,
  "tgm-sys-spacing-16": 16px,
  "tgm-sys-spacing-24": 24px,
  "tgm-sys-spacing-32": 32px
);
// Border Radius
$border-radius: (
  "tgm-sys-border-radius-4": 4px,
  "tgm-sys-border-radius-8": 8px,
  "tgm-sys-border-radius-16": 16px,
  "tgm-sys-border-radius-32": 32px,
  "tgm-sys-border-radius-full": 9999px
);
// Fixed Heights
$fixed-heights: (
  "tgm-sys-height-100": 100px,
  "tgm-sys-height-80": 80px
);
// Fixed widths
$fixed-widths: (
  "tgm-sys-width-image-100": 100px,
  "tgm-sys-width-image-200": 200px,
  "tgm-sys-width-250": 250px,
  "tgm-sys-width-image-400": 400px,
  "tgm-sys-width-800": 800px
);
// Percentages
$percentages: (
  "tgm-sys-percentage-25": 25%,
  "tgm-sys-percentage-50": 50%,
  "tgm-sys-percentage-75": 75%,
  "tgm-sys-percentage-100": 100%
);
// Gaps
$gaps: (
  "tgm-sys-gap-4": 4px,
  "tgm-sys-gap-10": 10px,
  "tgm-sys-gap-20": 20px,
  "tgm-sys-gap-30": 30px,
  "tgm-sys-gap-40": 40px,
  "tgm-sys-gap-50": 50px
);
// paddings
$paddings: (
  "tgm-sys-padding-4": 4px,
  "tgm-sys-padding-8": 8px,
  "tgm-sys-padding-10": 10px,
  "tgm-sys-padding-12": 12px,
  "tgm-sys-padding-20": 20px,
  "tgm-sys-padding-30": 30px,
  "tgm-sys-padding-40": 40px,
  "tgm-sys-padding-50": 50px
);
// Margins
$margins: (
  "tgm-sys-margin-10": 10px,
  "tgm-sys-margin-20": 20px,
  "tgm-sys-margin-30": 30px,
  "tgm-sys-margin-40": 40px
);
// Icon Sizes
$icon-sizes: (
  "tgm-sys-icon-size-14": 14px,
  "tgm-sys-icon-size-16": 16px,
  "tgm-sys-icon-size-18": 18px
);

$opacities: (
  "tgm-sys-opacity-light": 0.1,
  "tgm-sys-opacity-medium": 0.2
);
