<div class="footer">
    <div class="footer__links">
        <span>
            <h4 class="footer__links-title">NFC Pro</h4>
            <p class="footer__links-description">Tarjetas inteligentes para profesionales modernos.</p>
        </span>
        <!-- Falta poner los routerlinks -->
        <span>
            <h4 class="footer__links-title footer__links-title--secondary">Productos</h4>
            <ul class="footer__links-list">
                <li>
                    <a class="footer__links-description">Tarjetas NFC</a>
                </li>
                <li>
                    <a class="footer__links-description">Accesorios</a>
                </li>
                <li>
                    <a class="footer__links-description">Packs Empresariales</a>
                </li>
            </ul>
        </span>
        <span>
            <h4 class="footer__links-title footer__links-title--secondary">Empresa</h4>
            <ul class="footer__links-list">
                <li>
                    <a class="footer__links-description">Tecnología</a>
                </li>
                <li>
                    <a class="footer__links-description">Contacto</a>
                </li>
            </ul>
        </span>
        <span>
            <h4 class="footer__links-title footer__links-title--secondary">Legal</h4>
            <ul class="footer__links-list">
                <li>
                    <p class="footer__links-description">Privacidad</p>
                </li>
                <li>
                    <p class="footer__links-description">Términos</p>
                </li>
                <li>
                    <p class="footer__links-description">Envíos</p>
                </li>
            </ul>
        </span>
    </div>
    <div class="footer__rights">
        <p>© 2026 NFC Pro. Todos los derechos reservados.</p>
    </div>
</div>